$white:        #fff;
$grey-light:   #DADADA;
$grey-dark:    #A3A3A3;
$dark:         #333333;

$green-bg:      #EEFAF7;
$green-light:   #BAEADE;
$green-medium:  #57D9B9;
$green-bright:	#1CDBAB;
$green-dark:    #00906C;

$yellow-bg:     #FFFAF2;
$yellow-light:  #FFEBCA;
$yellow-medium: #FFC566;
$yellow-dark:   #DD8900;

$blue-bg:       #EFF3FA;
$blue-light:    #BED1EB;
$blue-medium:   #6297DA;
$blue-dark:     #024191;

$error: 		#F92046;